/*
    Mobile first design

*/

body{
    margin: 0px 20px;
    font-family: 'Lato', sans-serif;
    background-color: #fcf7ee;
    box-sizing: border-box;
    color: #34373B;
    font-weight: 300;
    font-size: 18px;
}


h1{
    font-family: 'Playfair Display', serif;
    color: black;
}


p{
    font-family: sans-serif 'Helvetica', sans-serif;
    line-height: 1.7rem;
    font-size: 16px;
}

div{
    overflow: hidden;
}



  /* 
    tablet styles

  */

@media only screen and (min-width:768px){

    h1{
        margin-top: 0px;
    }

    p{
        font-family: sans-serif 'Helvetica', sans-serif;
        color: #34373B;
        font-size: 16px;
    
    }
}




/* 
    Laptop styles

*/

@media only screen and (min-width:1024px){

    body{
        margin: 0px 40px;
    }

    h1{
        font-size: 50px;
        margin-top: 0px;
    }

    p{
        padding-right: 50px;
    }
}

