/* Mobile  styles*/

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

nav>div{
    display: inline-block;
}

.main-nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.link{
    display: inline-block;
    background-image: linear-gradient(to right, #EAB251, #E95175);
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    font-size: 12px;
    padding: 8px 10px;
    color: white;
    margin-left: 5px;
    vertical-align: top;
}

#menu{
    width: 100%;
}

.link:hover{
    background-image: linear-gradient(to right, #E95175, #E95175);
}

.signin-wrapper{
    display: none;
}

.menu{
    display: none;
}

ul{ 
    border: 2px solid white;
    background-color: white;
    list-style-type: none;
    padding: 10px;
    width: 50%;
    position: absolute;
    z-index: 5;
    left: 37%;
    top: 30px;
    box-shadow: 0 4px 4px 0 rgba(163, 162, 162, 0.2), 0 0px 4px 0 rgba(168, 167, 167, 0.19);
}

li{
    display: flex;
    justify-content: flex-end;
}

a:active{
    border-right: 2px solid #E95175 ;
}

li a{
    text-decoration: none;
    color: #34373B;
    padding-right: 8px;
    font-size: 16px;
}


/* Tablet styles */
@media only screen and (min-width: 768px){
    .menu{
        display: none;
    }

    ul{ 
        width: 20%;
        left: 74%;
    }

}


/* Desktop styles*/
@media only screen and (min-width: 1024px){
    .logo{
        width: 110px;
    }

    nav{
        flex-direction: row;
    }


    #menu{
        display: block;
        width: 40%;
    }

    .menu-icon{
        display: none;
    }

    .main-nav{
        width: 30%;
    }

    ul{ 
        border: none;
        background-color: transparent;
        list-style-type: none;
        width: auto;
        list-style-type: none;
        position: relative;
        left: 0px;
        top: 0px;
        box-shadow: none;
    }
    
    li{
        display: inline-block;
        justify-content: center;
    }

    
    li a{
        text-decoration: none;
        color: #34373B;
        padding-right: 15px;
        font-size: 18px;
    }

    .btn{
        background-color: #4977EA;
        color: white;
        padding: 20px 20px;
        margin: 8px 0;
        border: none;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 10px;
    }

    .btn:hover{
        background-color: #5e87eeed;
    }

    a{
        text-decoration: none;
        color: #34373B;
        padding-right: 15px;
    }

    .signin-wrapper{
        display: block;
    }
}